# Web Framework and Server
fastapi
uvicorn[standard]
python-multipart

# Google Gemini SDK
google-generativeai

# PDF Handling
PyPDF2
fpdf2

# Audio Handling
pydub
moviepy==1.0.3 #Optional

# Environment & Templating
python-dotenv
Jinja2